USE [master]
GO
/****** Object:  Database [Final_Final_Project]    Script Date: 05/12/2023 3:22:32 am ******/
CREATE DATABASE [Final_Final_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Final_Final_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBSFALL2023\MSSQL\DATA\Final_Final_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Final_Final_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBSFALL2023\MSSQL\DATA\Final_Final_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Final_Final_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Final_Final_Project]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[MR] [int] NOT NULL,
	[DoctorID] [int] NULL,
	[Date] [date] NOT NULL,
	[StatusID] [int] NOT NULL,
	[TurnNum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentSymptoms]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentSymptoms](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[SymptomID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC,
	[SymptomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnoses]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses](
	[AppointmentID] [int] NOT NULL,
	[Diagnosis] [varchar](255) NOT NULL,
	[Notes] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] NOT NULL,
	[SpecializationID] [int] NOT NULL,
	[NurseID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[ConsultationCost] [float] NOT NULL,
	[NumPatients] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[Genders] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[Cost] [float] NOT NULL,
	[Date] [date] NOT NULL,
	[MR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[PhoneNum] [varchar](255) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[GenderID] [int] NOT NULL,
	[CNIC] [varchar](255) NOT NULL,
	[Age] [int] NULL,
	[Address] [varchar](255) NOT NULL,
	[MR] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[SpecializationID] [int] IDENTITY(1,1) NOT NULL,
	[Specialization] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecializationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Symptoms]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Symptoms](
	[SymptomsID] [int] IDENTITY(1,1) NOT NULL,
	[Symptom] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SymptomsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/12/2023 3:22:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[TypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [MR], [DoctorID], [Date], [StatusID], [TurnNum]) VALUES (7, 22, 12, CAST(N'2023-12-05' AS Date), 1, 2)
INSERT [dbo].[Appointments] ([AppointmentID], [MR], [DoctorID], [Date], [StatusID], [TurnNum]) VALUES (9, 15, 27, CAST(N'2023-12-04' AS Date), 1, 1)
INSERT [dbo].[Appointments] ([AppointmentID], [MR], [DoctorID], [Date], [StatusID], [TurnNum]) VALUES (10, 15, 8, CAST(N'2023-12-05' AS Date), 3, 1)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [SpecializationID], [NurseID], [RoomID], [ConsultationCost], [NumPatients]) VALUES (2, 5, 20, 1, 5000, 2)
INSERT [dbo].[Doctors] ([DoctorID], [SpecializationID], [NurseID], [RoomID], [ConsultationCost], [NumPatients]) VALUES (8, 2, 11, 2, 1000, 4)
INSERT [dbo].[Doctors] ([DoctorID], [SpecializationID], [NurseID], [RoomID], [ConsultationCost], [NumPatients]) VALUES (12, 1, 16, 3, 15000, 4)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [Genders]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([GenderID], [Genders]) VALUES (2, N'Female')
INSERT [dbo].[Gender] ([GenderID], [Genders]) VALUES (3, N'Prefer not to say')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [AppointmentID], [Cost], [Date], [MR]) VALUES (2, 7, 15000, CAST(N'2023-04-12' AS Date), 22)
INSERT [dbo].[Invoices] ([InvoiceID], [AppointmentID], [Cost], [Date], [MR]) VALUES (4, 9, 2300, CAST(N'2023-04-12' AS Date), 15)
INSERT [dbo].[Invoices] ([InvoiceID], [AppointmentID], [Cost], [Date], [MR]) VALUES (5, 10, 1000, CAST(N'2023-05-12' AS Date), 15)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientInfo] ON 

INSERT [dbo].[PatientInfo] ([PatientID], [FirstName], [LastName], [PhoneNum], [DateOfBirth], [GenderID], [CNIC], [Age], [Address], [MR]) VALUES (13, N'John', N'Doe', N'123-456-7890', CAST(N'1985-05-15' AS Date), 1, N'123-45-6789', 38, N'123 Main Street, Cityville', N'13')
INSERT [dbo].[PatientInfo] ([PatientID], [FirstName], [LastName], [PhoneNum], [DateOfBirth], [GenderID], [CNIC], [Age], [Address], [MR]) VALUES (14, N'Jane', N'Smith', N'987-654-3210', CAST(N'1990-12-10' AS Date), 2, N'987-65-4321', 33, N'456 Oak Avenue, Townsville', N'14')
INSERT [dbo].[PatientInfo] ([PatientID], [FirstName], [LastName], [PhoneNum], [DateOfBirth], [GenderID], [CNIC], [Age], [Address], [MR]) VALUES (15, N'Michael', N'Johnson', N'555-123-4567', CAST(N'1978-08-22' AS Date), 3, N'555-12-3456', 45, N'789 Pine Road, Villagetown', N'15')
SET IDENTITY_INSERT [dbo].[PatientInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomName]) VALUES (1, N'H-507')
INSERT [dbo].[Rooms] ([RoomID], [RoomName]) VALUES (2, N'W-243')
INSERT [dbo].[Rooms] ([RoomID], [RoomName]) VALUES (3, N'N-219')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([SpecializationID], [Specialization]) VALUES (1, N'Cardiology')
INSERT [dbo].[Specialization] ([SpecializationID], [Specialization]) VALUES (2, N'Orthopedics')
INSERT [dbo].[Specialization] ([SpecializationID], [Specialization]) VALUES (3, N'Neurology')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [Status]) VALUES (1, N'Upcoming')
INSERT [dbo].[Status] ([StatusID], [Status]) VALUES (2, N'Completed')
INSERT [dbo].[Status] ([StatusID], [Status]) VALUES (3, N'Ongoing')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Symptoms] ON 

INSERT [dbo].[Symptoms] ([SymptomsID], [Symptom]) VALUES (1, N'Fever')
INSERT [dbo].[Symptoms] ([SymptomsID], [Symptom]) VALUES (2, N'Headache')
INSERT [dbo].[Symptoms] ([SymptomsID], [Symptom]) VALUES (3, N'Fatigue')
SET IDENTITY_INSERT [dbo].[Symptoms] OFF
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID], [Type]) VALUES (1, N'Receptionist')
INSERT [dbo].[Types] ([TypeID], [Type]) VALUES (2, N'Doctor')
INSERT [dbo].[Types] ([TypeID], [Type]) VALUES (3, N'Technician')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Password], [TypeID]) VALUES (2, N'Eman', N'Fatima', N'$2b$07$yF2jppWhXNS.mGZal8D3eOCPOja/05v6zILmsPSn1hmsSJYeCnk.e', 2)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Password], [TypeID]) VALUES (3, N'Raahim', N'Hashmi', N'$2b$07$NOCmNEUzDde8NDVQxOXwzuvJ4t.JBMXgulkHMr04xNlNB2t/pHVXG', 1)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Password], [TypeID]) VALUES (5, N'Ibad', N'Nadeem', N'$2b$07$NOCmNEUzDde8NDVQxOXwzu6WhYl0r6CslMhloINCfEwQilBUdBNEa', 4)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [Appointments_fk0] FOREIGN KEY([MR])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [Appointments_fk0]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [Appointments_fk1] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [Appointments_fk1]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [Appointments_fk2] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [Appointments_fk2]
GO
ALTER TABLE [dbo].[AppointmentSymptoms]  WITH CHECK ADD  CONSTRAINT [AppointmentSymptoms_fk0] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[AppointmentSymptoms] CHECK CONSTRAINT [AppointmentSymptoms_fk0]
GO
ALTER TABLE [dbo].[AppointmentSymptoms]  WITH CHECK ADD  CONSTRAINT [AppointmentSymptoms_fk1] FOREIGN KEY([SymptomID])
REFERENCES [dbo].[Symptoms] ([SymptomsID])
GO
ALTER TABLE [dbo].[AppointmentSymptoms] CHECK CONSTRAINT [AppointmentSymptoms_fk1]
GO
ALTER TABLE [dbo].[Diagnoses]  WITH CHECK ADD  CONSTRAINT [Diagnoses_fk0] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Diagnoses] CHECK CONSTRAINT [Diagnoses_fk0]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [Doctors_fk0] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [Doctors_fk0]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [Doctors_fk1] FOREIGN KEY([SpecializationID])
REFERENCES [dbo].[Specialization] ([SpecializationID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [Doctors_fk1]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [Doctors_fk2] FOREIGN KEY([NurseID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [Doctors_fk2]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [Doctors_fk3] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [Doctors_fk3]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [Invoices_fk0] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [Invoices_fk0]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [Invoices_fk1] FOREIGN KEY([MR])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [Invoices_fk1]
GO
ALTER TABLE [dbo].[PatientInfo]  WITH CHECK ADD  CONSTRAINT [PatientInfo_fk0] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[PatientInfo] CHECK CONSTRAINT [PatientInfo_fk0]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_fk0] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_fk0]
GO
USE [master]
GO
